*.swp
/.tox
__pycache__
/.build/
/.pybuild/
/Makefile.in
/aclocal.m4
/autom4te.cache/
/bin/build-box-do
/c-src/Makefile.in
/compile
/config.h.in
/configure
/debian/.debhelper/
/debian/build-box-utils.debhelper.log
/debian/build-box-utils.postinst.debhelper
/debian/build-box-utils.prerm.debhelper
/debian/build-box-utils.substvars
/debian/build-box-utils/
/debian/files
/depcomp
/install-sh
/lib/build_box_utils.egg-info/
/missing
