*.swp
/.tox
__pycache__
/.build/
/.pybuild/
/Makefile.in
/aclocal.m4
/autom4te.cache/
/bin/build-box-do
/c-src/Makefile.in
/compile
/config.h.in
/configure
/debian/.debhelper/
/debian/build-box-ng.debhelper.log
/debian/build-box-ng.postinst.debhelper
/debian/build-box-ng.prerm.debhelper
/debian/build-box-ng.substvars
/debian/build-box-ng/
/debian/files
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/depcomp
/install-sh
/lib/build_box_utils.egg-info/
/missing
