Source: build-box-utils
Section: devel
Priority: optional
Maintainer: Tobias Koch <tobias.koch@gmail.com>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.8

Package: build-box-ng
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends},
 bolt-repo-keys,
 mount,
 opkg,
 python3-bolt-misc (>= 1.4.2),
 python3-bolt-distro-info (>= 1.4.2),
 python3-bolt-image-gen (>= 1.4.2),
 qemu-user-static-bolt (>= 1:5.2.0),
 usign
Description: management utility for Bolt Linux build chroots
 BuildBox manages Bolt Linux build chroots. It bootstraps chroots from packages
 and makes them accessible to unprivileged users.
