Source: build-box-utils
Section: devel
Priority: optional
Maintainer: Tobias Koch <tobias.koch@gmail.com>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.8

Package: build-box-ng
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends},
 mount,
 opkg,
 qemu-user-static-bolt,
 usign
Description: management utility for Bolt Linux build sandboxes
 BuildBox manages hybrid build sandboxes in which an emulated target stack runs
 in tandem with an identical native software stack, giving you the speed of a
 cross toolchain with the look and feel of a native build environment. 
